  #my-canvas {
    border: 1px solid grey;
  }
  
  #start-btn, #restart-btn {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #my-canvas {
    display: none;
  }
  
  #gameover-screen {
    display: none;
  }

  #gamewon-screen {
    display: none;
  }